    <!--//////////////////////////////////////////////////////
    COLLECTION.HTML
    ////////////////////////////////////////////////////////-->
    <div class="container">

    <div class="row">
    <div class="box">
    <div class="col-lg-12">
    <hr>
    <h2 class="intro-text text-center">Here is
        <strong>Your</strong>
        Collection
    </h2>
    <hr>
    <hr class="visible-xs">
    <ul class="text-center">
        <li>
            <h3><a href="#/addCard">Add Card To Your Collection</a></h3>
        </li>
    </ul>

    <!--//////////////////////////////////////////////////////
    Card Grid System
    ////////////////////////////////////////////////////////-->

    <!-- need to make a grid like system or need to generate a card every time something is saved to a collection  -->

    <h4 ng-click="collections.goToUserCollection()">Show User Collections</h4> <!-- ???why is this not a buttons -->
    <div ng-repeat="(key, collection) in collections.collectionsList">
    <p ng-click="collections.showCollectionCards(key)">{{collection.collectionTitle}}</p>
    <!-- <p>{{collection.url}}</p> -->
    </div>

    </div> <!-- col-lg-12 -->
    </div> <!-- box -->
    </div> <!-- row -->

    </div>  <!-- /.container -->
